*{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Poppins;
}

header{
    background-color: darkslateblue;
    height: 150px;
    width: auto;
    color: white;
    text-align: center;
    font-size: 33px;
    padding-top: 15px;
}

.main{
    height: 1440px;
    width: auto;
    background-image: url('stars.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.main img{
    width: 1600px;
    height: 1200px;
}

footer{
    background-color: darkslateblue;
    height: 150px;
    width: auto;
    color: white;
    text-align: center;
    font-size: 33px;
    padding-top: 10px;
}