body{
    font-family: Tahoma;
}

.banner{
    background-color: tomato;
    color: white;
    padding: 10px; 
}

.glowny{
    background-color: seashell;
    height: 500px;

}

#stopka{
    background-color: tomato;
    color: white;
    width: 25%;
    height: 160px;
}