*{
    font-family: Garamond;
    text-align: center;
}

body{
    background-color: Lavender;
}

.banner, .stopka{
    background-color: #af8eb5;
    color: white;
    padding: 10px;
    clear: both;
}

.lewy, .srodkowy, .prawy{
    background-color: #e1bee7;
    width: 30%;
    height: 500px;
    padding-top: 40px;
    margin: 15px;
    box-shadow: 10px 10px 10px dimgray;
    float: left;
}

a{
    color: indigo;
    font-size: 150%;
    padding: 10px;
    font-style: bold;
}

a:hover{
    background-color: indigo;
    color: white;
}

img, table{
    border: 1px solid;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

