*{
    font-family: Arial;
    margin: 0;
}
header{
    display: flex;

}
#pierwszy{
    background-color: #483D8B;
    height: 150px;
    width: 30%;
}

#drugi{
    background-color: #483D8B;
    color: white;
    height: 150px;
    width: 70%;
}

footer{
    background-color: #483D8B;
    color: white;
    padding: 10px;
}

div{
    background-color: #AFEEEE;
    width: 150px;
    height: 100px;
    margin: 3px;
    border: 1px solid black;
}
 h5{
    text-align: center;
 }

 main {
    display: flex;
    flex-wrap: wrap;
}

