body{
    font-family: Verdana;
}

.banner1{
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
    float: left;
}

.banner2{
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
    float: left;
}

#polecamy, #fantastyczne{
    background-color: #B0BEC5;
    height: 320px;
    overflow: auto;
}

.stopka{
    background-color: #546E7A;
    color: white;
    margin: 0px;
    clear: both;
}

h3{
    background-color: #546e7a;
    color: white;
    margin: 0px;
}

h4{
    text-align: center;
    margin: 0px;
}